@layout UserLayout
@page "/login"

<div class="login_container">
    <div class="login">

        <div class="top">
            <div class="desc">请使用企业微信扫码</div>
        </div>
        <Card Style="min-width: 400px;">
            <div class="qrcode">
                <img src="@qrCode" alt="qrcode" />
            </div>
            <Button Type="@ButtonType.Link" Size="large" Block OnClick="GetLoginAndShowQrCodeAsync" Disabled="@canRefresh">刷新</Button>

            <div class="hint">@loginHint</div>
        </Card>

        <Modal Title="选择已有企业"
               MaskClosable="false"
               Visible="@modalVisible"
               OnOk="@ModalHandleOk"
               OnCancel="@ModalHandleCancel">

            <AntList DataSource="@corps" TItem="LoginCorp">
                <ListItem class="@((selectedCorpId == context.CorpId ? "corp-item-select corp-item" : "corp-item"))" OnClick="()=> SelectedCorp(context.CorpId)">
                    <ListItemMeta >
                        <TitleTemplate>
                           <span>@context.CorpName</span>
                        </TitleTemplate>
                    </ListItemMeta>
                </ListItem>
            </AntList>

        </Modal>
    </div>
</div>
