@page "/"

<PageContainer Title="Demo 调试">
    <div class="toc-affix">
        <Affix OffsetTop="16">
            <Anchor Key="Title">
                @foreach (var demo in demos)
                {
                    <AnchorLink Href="@($"/#demo-{demo.Id}")" Title="@demo.Title" />
                }
            </Anchor>
        </Affix>
    </div>
    <section class="demo-content">
        <Row Style="margin-left: -8px; margin-right: -8px;">
            @foreach (var demo in demos)
            {
                <AntDesign.Col Span="24" Class="code-boxes-col-1-1" Style="padding-left: 8px; padding-right: 8px;">
                    <div id="@("demo-" + demo.Id)" style="margin: 20px 0;">
                        <div style="font-size: 17px; font-weight: bold;margin-bottom: 20px;">@demo.Title</div>
                        @GetShowCase(demo.Type)
                    </div>
                </AntDesign.Col>

            }
        </Row>
    </section>

</PageContainer>
