@page "/setting/custapp"

<PageContainer Title="代开发自建应用配置">
	<Content>
		<span>代开发自建应用审核、上线配置参数</span>
	</Content>
	<ChildContent>
		<Card>
			<Form Model="@Settings"
				  Style="margin-top: 8px;"
				  OnFinish="HandleSubmit">
				<Card Title="@("可信域名")" Class="set-item-card" Style="margin: 0 0 10px 0;">
					<Row Gutter="16">
						<AntDesign.Col Lg="6" Md="12" Sm="24">
							<FormItem Label="开发">
								<Input Placeholder="可信域名-开发" @bind-Value="@context.Domain.Dev" />
							</FormItem>
						</AntDesign.Col>

						<AntDesign.Col Xl="new EmbeddedProperty{Span = 6, Offset = 2}"
									   Lg="new EmbeddedProperty{Span = 8}"
									   Md="new EmbeddedProperty{Span = 12}"
									   Sm="24">
							<FormItem Label="测试">
								<Input Placeholder="可信域名-测试" @bind-Value="@context.Domain.Test" />
							</FormItem>
						</AntDesign.Col>

						<AntDesign.Col Xl="new EmbeddedProperty{Span = 6, Offset = 2}"
									   Lg="new EmbeddedProperty{Span = 8}"
									   Md="new EmbeddedProperty{Span = 12}"
									   Sm="24">
							<FormItem Label="正式">
								<Input Placeholder="可信域名-正式" @bind-Value="@context.Domain.Prod" />
							</FormItem>
						</AntDesign.Col>
					</Row>
				</Card>

				<Card Title="@("回调地址")" Class="set-item-card" Style="margin: 0 0 10px 0;">
					<Row Gutter="16">
						<AntDesign.Col Lg="6" Md="12" Sm="24">
							<FormItem Label="开发">
								<Input Placeholder="回调地址-开发" @bind-Value="@context.Callback.Dev" />
							</FormItem>
						</AntDesign.Col>

						<AntDesign.Col Xl="new EmbeddedProperty{Span = 6, Offset = 2}"
									   Lg="new EmbeddedProperty{Span = 8}"
									   Md="new EmbeddedProperty{Span = 12}"
									   Sm="24">
							<FormItem Label="测试">
								<Input Placeholder="回调地址-测试" @bind-Value="@context.Callback.Test" />
							</FormItem>
						</AntDesign.Col>

						<AntDesign.Col Xl="new EmbeddedProperty{Span = 6, Offset = 2}"
									   Lg="new EmbeddedProperty{Span = 8}"
									   Md="new EmbeddedProperty{Span = 12}"
									   Sm="24">
							<FormItem Label="正式">
								<Input Placeholder="回调地址-正式" @bind-Value="@context.Callback.Prod" />
							</FormItem>
						</AntDesign.Col>
					</Row>
				</Card>

				<Card Title="@("应用首页")" Class="set-item-card" Style="margin: 0 0 10px 0;">
					<Row Gutter="16">
						<AntDesign.Col Lg="6" Md="12" Sm="24">
							<FormItem Label="开发">
								<Input Placeholder="应用首页-开发" @bind-Value="@context.HomePage.Dev" />
							</FormItem>
						</AntDesign.Col>

						<AntDesign.Col Xl="new EmbeddedProperty{Span = 6, Offset = 2}"
									   Lg="new EmbeddedProperty{Span = 8}"
									   Md="new EmbeddedProperty{Span = 12}"
									   Sm="24">
							<FormItem Label="测试">
								<Input Placeholder="应用首页-测试" @bind-Value="@context.HomePage.Test" />
							</FormItem>
						</AntDesign.Col>

						<AntDesign.Col Xl="new EmbeddedProperty{Span = 6, Offset = 2}"
									   Lg="new EmbeddedProperty{Span = 8}"
									   Md="new EmbeddedProperty{Span = 12}"
									   Sm="24">
							<FormItem Label="正式">
								<Input Placeholder="应用首页-正式" @bind-Value="@context.HomePage.Prod" />
							</FormItem>
						</AntDesign.Col>
					</Row>
				</Card>

				<Card Title="@("IP白名单")" Class="set-item-card" Style="margin: 0 0 10px 0;">
					<Row Gutter="16">
						<AntDesign.Col Lg="6" Md="12" Sm="24">
							<FormItem Label="开发">
								<Input Placeholder="IP白名单-开发" @bind-Value="@context.WhiteIp.Dev" />
							</FormItem>
						</AntDesign.Col>

						<AntDesign.Col Xl="new EmbeddedProperty{Span = 6, Offset = 2}"
									   Lg="new EmbeddedProperty{Span = 8}"
									   Md="new EmbeddedProperty{Span = 12}"
									   Sm="24">
							<FormItem Label="测试">
								<Input Placeholder="IP白名单-测试" @bind-Value="@context.WhiteIp.Test" />
							</FormItem>
						</AntDesign.Col>

						<AntDesign.Col Xl="new EmbeddedProperty{Span = 6, Offset = 2}"
									   Lg="new EmbeddedProperty{Span = 8}"
									   Md="new EmbeddedProperty{Span = 12}"
									   Sm="24">
							<FormItem Label="正式">
								<Input Placeholder="IP白名单-正式" @bind-Value="@context.WhiteIp.Prod" />
							</FormItem>
						</AntDesign.Col>
					</Row>
				</Card>	

				<FormItem Style="margin-top:32px; text-align:center;" >
					<Button Type="primary" HtmlType="submit">
						保存
					</Button>
				</FormItem>
			</Form>
		</Card>
	</ChildContent>
</PageContainer>
